server: # 项目配置
  port: :8888 # 项目端口
  version: 1.0 
  jwtSecret:

mysql:
  driverName: mysql
  host: 127.0.0.1
  port: 3306
  dbName: derma
  username: derma
  password: derma
  charset: utf8mb4

rabbitmq:
  addr: 127.0.0.1:5672
  username: derma
  password: derma

redis:
  addr: 127.0.0.1:6379
  password: derma

oss:
  endpoint: 
  accessKey-id: 
  accessKey-secret: 
  bucketname: 
